In [ ]:
# Rename all columns
# df = updated_df.rename(columns={'title':'Title',
#                 'location':'Location', 
#                 'via':'Via',
#                 'description':'Description',
#                 'extensions':'Extensions',
#                 'date_time':'Date_Time',
#                 'commute_time':'Commute_Time',
#                 'salary_pay':'Salary_Pay',
#                 'salary_avg':'Salary_Average',
#                 'salary_min':'Salary_Min',
#                 'salary_max':'Salary_Max',
#                 'salary_hourly':'Salary_Hourly',
#                 'salary_yearly':'Salary_Yearly',
#                 'salary_standardized':'Salary_Standardized'})

In [ ]:
#drop the staffing agencies under the 'company_name' column

In [ ]:
write this newly transformed dataset to the `data/processed` folder